{% comment %} {% extends 'fhblog/base.html' %} {% endcomment %}
{% include "fhblog/base.html" %}
{% block content %}
<div class="globalstyle">
<h1>Posty</h1>
<hr class="horizontal-line">
    <div class="poststyle">
        {% for post in object_list %}
        {% comment %} <div class="poststyle"> {% endcomment %}
            <li><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a><br/>
            {{post.content|slice:":100"|safe}}</li>
            
            {% comment %} {{post.image}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% endfor %}
    </div>
</div>
{% endblock content %}


