{% include "fhblog/base.html" %}
{% load static %}
{% block content %}
<div class="poststyle">
    <a class="btn btn-outline-light" href="{% url 'home' %}">Wróć</a> 
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a class="btn btn-outline-light" href={% url 'post-edit' post.pk %}>Edytuj post</a>
            <a class="btn btn-outline-light" href={% url 'post-delete' post.pk %}>Usuń post</a>
        {% endif %}
    {% endif %}
    <h1>{{post.title}}</h1>
    <hr class="horizontal-line">
    {{post.content|safe}}
    <img src="{{ post.post_thumbnail_image.url }}">
</div>
  <div class="card">
  <div class="card-body">
      {% comment %} ODKOMENTOWAC ZDJĘCIE JAK JE DODAM {% endcomment %}
    {% if post.author.profile.profilepicture %}
      <img src="{{ post.author.profile.profilepicture.url }}" class="card-img" alt="...">
    {% else %}
      <img src="{% static 'images/fhblog/profiles/fhlogo.png' %}" class="card-img" alt="...">
    {% endif %}
  </div>
  <div class="card-header">{{ post.author }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ post.author.userprofile.bio }}</h5>
    <a href="#" class="btn btn-primary">{{ post.author.userprofile.instalink }}</a>
  </div>
</div>

</div>

{% endblock content %}