{% extends 'fhstore/base.html' %}
{% load static %}

{% block content %}
    <div>
            
            <table>
            <div class="row row-cols-4">
            <div class="container">
                <th><a class="btn btn-light" href="{% url 'store' %}">&#x2190; Kontynuuj zakupy</a></th>
                <th><h5>Przedmioty: <strong>{{order.get_cart_items}}</strong></h5></th>
                <th><h5>Razem: <strong>{{order.get_cart_total|floatformat:2}} zł</strong></h5></th>
                <th><a class="btn btn-outline-success" href="{% url 'checkout' %}">&#x2192; Do zapłaty</a></th>
            </div>
            </tr>
            </div>
            </table>
            
            <hr class="horizontal-line">
            
            <div class="container">
				<div class="row row-cols-4">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Produkt</strong></div>
					<div style="flex:1"><strong>Cena</strong></div>
					<div style="flex:1"><strong>Ilość</strong></div>
					<div style="flex:1"><strong>Razem</strong></div>
				</div>
                <hr class="horizontal-line">
                {% for item in items %}
                <div class="row row-cols-4">
                    <div style="flex:2"><img class="thumbnail-checkout" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2">{{item.product.name}}</div>
                    <div style="flex:1"><p>{{item.product.price|floatformat:2}} PLN</p></div>
                    <div style="flex:1">
                        <p class="quantity">x{{item.quantity}}</p>
                        <div class="quantity">
                            <button data-product={{item.product.id}} data-action="add" class="btn btn-outline-light add-btn update-cart">+</button>
                            <button data-product={{item.product.id}} data-action="remove" class="btn btn-outline-light add-btn update-cart">-</button>
                        </div>
                    </div>
                    <div style="flex:1">{{item.get_total|floatformat:2}} PLN</div>
                </div>
                <hr class="horizontal-line">
                {% endfor %}
            </div>
        </div>
{% endblock content %}
