{% extends 'fhstore/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
    {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element-item">
                <h4>{{product.name}}</h4>
                <hr class="horizontal-line">
                <a data-product={{product.id}} data-action="add" class="btn btn-outline-light add-btn update-cart">Dodaj do koszyka</a>
                <h7 style="display: inline-block; float: right"><strong>{{product.price|floatformat:2}} PLN</strong></h7>
            </div>
        </div> 
    {% endfor %}
    </div>
{% endblock content %}
